/* main */
main{
    width: 100%;
    height: 75vh;
    background-color: var(--site-color04);
    background-image: url(./image/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-intro{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}
.main-intro h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    line-height: 106px;
    text-align: center;
}
.main-intro a{
    text-decoration: none;
    background-color: var(--siteColor01);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    height: 50px;
    width: 150px;
}
.main-quotes{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}
.main-quotes p{
    padding: 0;
    border-left: 4px solid var(--site-color03);
    color: rgb(255, 255, 255);
    font-size: 21px;
    line-height: 30px;
}
.main-quotes p:nth-child(3){
    margin-left: 50px;
}
main .main-quotes img{
    width: 45%;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: auto;

}

.index-service{
    width: 100%;
    height: 50vh;
    padding: 80px 0;
    background-color: #fff;
}
.index-service h3{
    text-align: center;
    padding-left: 15px;
    font-size: 80px;
    line-height: 60px;
}
.index-service-box-mother{
    width: 100%;
    padding: 90px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}
.index-service h3{
    padding-left: 15px;
    font-size: 80px;
    line-height: 60px;
}
.index-service-box{
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
}
.index-service-box:nth-child(1){
    background-image: url(./image/service3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.index-service-box:nth-child(2){
    background-image: url(./image/service4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.index-service-box:nth-child(3){
    background-image: url(./image/service1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.index-service-box:nth-child(4){
    background-image: url(./image/service2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.index-service-box a{
    text-decoration: none;
    color: var(--site-color03);
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
}



/* index-schedule */
.index-category{
    padding-top: 100px;
    width: 100%;
    height: fit-content;
    background-color: #fff;
}
.index-category img {
    width: 40%;
    padding: 50px 0;
}
.index-category-box{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.index-category-box h3{
    text-align: center;
    font-size: 80px;
    line-height: 60px;
}
.index-category-box h4{
    text-align: center;
    font-size: 40px;
    line-height: 30px;

}
.index-category-box p{
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: black;
}

.a-box{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;
    padding: 20px 10px 0 0;

}
.a-box a{
    display: block;
    font-size: 35px;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--siteColor01);
    font-size: 18px;
    width: 240px;
    height: fit-content;
    text-decoration: none;
}

/* about */
.index-about{
    height: fit-content;
    padding: 100px 0;
    background-color: var(--site-color03);
    background-image: url(./image/IMG_1440.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.index-about-flex{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 400px;
}
.index-about-box01{
    height: fit-content;
    width: 700px;
    border-radius: 20px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 5px;

}
.index-about-box01 img{
    width: 60%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.index-about-box01 h2{
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    padding-top: 15px;
}
.index-about-box01 h3{
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
}
.index-about-box01 h4{
    font-size: 20px;
    line-height: 25px;
}
.index-about-box01 ul {
    list-style-type: none;
    padding: 0;
}
.index-about-box01 ul li {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.sub-list{
    margin-left: 20px;
}
@media(max-width: 600px){
    main{
        width: 100%;
        height: 80vh;
        background-color: var(--site-color04);
        background-image: url(./image/back.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main-intro{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-intro h1{
        color: var(--site-color03);
        font-size: 60px;
        line-height: 106px;
    }
    .main-quotes{
        display: none;
    }
    .main-intro h2{
        color: rgb(255, 255, 255);
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

/* service */

    .index-service{
        width: 100%;
        height: fit-content;
        padding: 60px 0;
        background-color: #fff;
    }
    .index-service h3{
        padding-left: 15px;
        font-size: 60px;
        line-height: 30px;
    }
    .index-service-box-mother{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 100px;
    }
    .index-service-box{
        height: 220px;
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff0000;
    }
    .index-service-box:nth-child(1){
        background-image: url(./image/service3.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .index-service-box:nth-child(2){
        background-image: url(./image/service4.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .index-service-box:nth-child(3){
        background-image: url(./image/service1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .index-service-box:nth-child(4){
        background-image: url(./image/service2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .index-service-box a{
        text-decoration: none;
        color: var(--site-color03);
        font-weight: bold;
        font-size: 40px;
        line-height: 24px;
        text-align: center;
    }



    /* index-schedule */
    .index-category{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: #fff;
        row-gap: 100px;
    }
    .index-category img {
        padding: 0;
        width: 100%;
        height: 40%;
        padding: 0 30px;
    }
    .index-category-box{
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: fit-content;
        row-gap: 10px;
    }
    .index-category-box h3{
        text-align: center;
        font-size: 80px;
        line-height: 60px;
    }
    .index-category-box h4{
        padding: 0;
        text-align: center;
        font-size: 40px;
        line-height: 60px;

    }
    .index-category-box p{
        padding: 0;
        text-align: center;
        padding-top: 20px;
        font-size: 25px;
        line-height: 50px;
        color: black;
    }
    .a-box{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding: 0;
    
    }
    .a-box a{
        display: block;
        padding: 10px 20px;
        text-align: center;
        background-color: var(--siteColor01);
        font-size: 18px;
        width: 240px;
        height: fit-content;
    }



    /* about */
    .index-about{
        height: fit-content;
        background-color: var(--site-color03);
        /* background-image: url(./image/back.png); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .index-about-flex{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .index-about-box01{
        height: fit-content;
        width: 80%;
        background-color: #fff;
        /* background-image: url(./image/back.png); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }
    .index-about-box01 h2{
        text-align: left;
        font-size: 35px;
        line-height: 60px;
    }
    .index-about-box01 h3{
        text-align: left;
        font-size: 25px;
        line-height: 40px;
    }
    .index-about-box01 h4{
        font-size: 20px;
        line-height: 25px;
        padding-top: 30px;
    }
    .index-about-box01 ul {
        list-style-type: none;
        padding: 0;
    }
    .index-about-box01 ul li {
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .sub-list{
        margin-left: 20px;
    }
}
