@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --siteColor01: #c13584;
    --siteClor02: #9e2f6e;
    --menu-count: 7;
}
body {
    background-color: #1A253A;
    background-image: url(./image/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
body:after{
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: -1;

}
.wrapper-main{
    width: 1500px;
    margin: 0 auto;
}
a{
    font-size: 14px;
    line-height: 18px;
    color: white;
    cursor: pointer;
}
h1{
    font-size: 26px;
    line-height: 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
p{
    font-size: 14px;
    line-height: 18px;
    color: white;
}
/* .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
} */
.mobile_button{
    display: none;
}
.header-main {
    width: 100%;
    background: #fff;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    /* align-items: center; */
    height: 60px;
    /* padding: 0 20px;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    */
} 
.header-main-logo {
    /* background-color: yellow; */
    width: fit-content;
    height: 100%;
    display: flex;
}

.header-main-logo img {
    height: 50px;
    align-self: center;
    padding-left: 30px;
}
.header-main-nav {
    /* display: flex; */
    height: 100%;
    width: fit-content;
    /* background-color: orange; */
    padding-left: 60px;
}

.header-main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.header-main-nav ul li {
    display: inline;

}

.header-main-nav ul li a {
    /* display: block; */
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    /* font-weight: 500; */
}

.header-main-nav ul li a:hover {
    color: var(--siteClor02);
}

/* .header-main-nav ul li ul {
    display: none;
    position: absolute;
    left: -40px;
    z-index: 1;
    transition: all ease 0.5s;
}
.header-main-nav ul li:hover>ul{
    display: block;
    opacity: 1;
} */
.header-main-nav .dropdown {
    opacity: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    transition: all ease 0.5s;
}

.header-main-nav ul li:hover .dropdown {
    display: block;
    opacity: 1;
}

.dropdown li {
    width: 100%;
}
.dropdown li a {
    padding: 12px 16px;
    color: #fff;
    text-align: left;
    display: block;
    text-decoration: none;
}

.dropdown li a:hover {
    background-color: #575757;
}

.header-main-sm{
    padding-right: 60px;
    width: 120px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header-main-sm-fb{
    height: 20px;
    width: 20px;
    background-image: url(../css/image/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-line{
    height: 20px;
    width: 20px;
    background-image: url(../css/image/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* footer */
footer{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.info{
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* .info h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 20px;
} */
.info p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 30px;
}
footer img {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    width: 300px;
    height: 220px;
}
.info-logo{
    padding-right: 60px;
    width: 120px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.info-logo-fb{
    height: 50px;
    width: 50px;
    background-image: url(../css/image/facebook-color.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.info-logo-ig{
    height: 50px;
    width: 50px;
    background-image: url(../css/image/instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 600px){
    .mobile_button{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        z-index: 200;
    }
    .header-main{
        height: 100vh;
        display: none;
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        background: #444759;
    }
    .header-main-logo{
        height: 70%;
        width: 100%;
        background: #444759;
        padding-left: 20px;
        flex-wrap: wrap; 
        display: flex;
        flex-direction: column; 
    }
    .header-main-logo img {
        height: 30%;
        align-self: center;
        padding-left: 30px;
    }
    .header-main-logo .header-main-nav{
        width: 100%;
        height: 70%;
        background: #444759;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .header-main-nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header-main-nav ul li {
        width: 100%;
        height: calc(100%/var(--menu-count));
        border-top: 1px solid #000000;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        transition: all ease-in-out 100ms;
    }
    .header-main-nav ul li a {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .header-main-nav ul li a:hover {
        color: var(--siteClor02);
    }
    .header-main-nav .dropdown {
        opacity: 0;
        display: none;
        position: relative;
        z-index: 1;
        transition: all ease 0.5s;
    }
    .header-main-nav ul li:hover .dropdown {
        display: block;
        opacity: 1;
    }
    .dropdown li {
        width: 100%;
    }
    .dropdown li a {
        padding: 12px 16px;
        color: #fff;
        text-align: left;
        display: block;
        text-decoration: none;
    }
    
    .dropdown li a:hover {
        background-color: #575757;
    }
    .header-main-sm{
        /* background-color: red; */
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        column-gap: 10px;
    }
    .header-main-sm-fb{
        height: 70px;
        width: 70px;
        background-image: url(../css/image/facebook.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-main-sm-line{
        height: 70px;
        width: 70px;
        background-image: url(../css/image/instagram.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* footer */
    footer{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #000000;
    }
    .info{
        background-color: #000000;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    /* .info h3{
        color: rgb(255, 255, 255);
        font-size: 20px;
        line-height: 20px;
    } */
    .info p{
        color: rgb(255, 255, 255);
        font-size: 20px;
        line-height: 30px;
    }
    footer img {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 300px;
        height: 220px;
    }
    .info-logo{
        padding-right: 60px;
        width: 120px;
        /* background-color: red; */
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    .info-logo-fb{
        height: 50px;
        width: 50px;
        background-image: url(../css/image/facebook-color.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .info-logo-ig{
        height: 50px;
        width: 50px;
        background-image: url(../css/image/instagram-color.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}